[submodule "tpt/websocketpp"]
	path = tpt/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "tpt/cli"]
	path = tpt/cli
	url = https://github.com/vazk/cli.git
    branch = metriffic
[submodule "tpt/json"]
	path = tpt/json
	url = https://github.com/nlohmann/json.git
[submodule "tpt/cxxopts"]
	path = tpt/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "tpt/plog"]
	path = tpt/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "tpt/termcolor"]
	path = tpt/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
